<h1>To Do</h1>

<p>These are your tasks:</p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p>Add a new task:</p>

<form action="/tasks" method="post">
  <label for="description">Task Description</label>
  <input type="text" name="description" id="description">

  <button type="submit">Add Task</button>
</form>
